<!DOCTYPE html>
<html>
<div class="nav">
	<input type="checkbox" id="nav-check">
	<div class="nav-header">
		<div class="nav-title">AlgoPathFinder</div>
	</div>
	<div class="nav-btn">
		<label for="nav-check"> <span></span> <span></span> <span></span>
		</label>
	</div>

	<div class="nav-links">
		<a href="/" target="_self">Depth First Search</a> 
		<a href="#" target="_self">Breadth First Search</a> 
		<a href="AStar.html" target="_self">A* Algorithm</a> 
		<a href="About.html" target="_self">About</a>
	</div>
</div>
<div class="nav" style="background-color: white; color: black;">
	<input type="checkbox" id="nav-check">
	<div class="nav-header">
		<div class="nav-title" style="font-size: 20px; color: black;">Start Node: &#x1F7E5;    Wall: &#x2B1B;    Path Node:  &#x1F7E8;    Destination: 
		<span style=" color: transparent; text-shadow: 0 0 0 rgb(0, 255, 255)">&#x1F7E5;</span></div>
	</div>
	<div class="nav-btn">
		<label for="nav-check"> <span></span> <span></span> <span></span>
		</label>
	</div>

	<div class="nav-links">
		<button style="float: left; display: inline; margin-top: 10px; margin-right: 10px;" name="findPath" id="findPath" form="myForm" type="submit" class="myButton">Visualize!</button> 
		<button style="float: left; display: inline; margin-top: 10px;" type="button" class="myButton" onClick="resetWall()">Reset</button>
	</div>
</div>
<head>
<meta charset="ISO-8859-1">


<title>Insert title here</title>

<link rel="stylesheet" href="../css/styless.css?version=6">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

</head>
<body>





	<form th:action="@{/findPathBFS}" method="post" id="myForm" 
		enctype="multipart/form-data">
		
		<div id="content" style="  margin: auto;   position: relative; text-align: center; top: 30%; width: 70%;">
			<h3 >Breadth First Search</h3>

			<p style="text-align:center;">The Breadth First Search ( BFS ) is an algorithm for traversing or searching tree or graph data structures.
			 It explores all the nodes at the present depth before moving on to the nodes at the next depth level.</p>
			<span id="pathExistsFalse" style="color: red;">  </span>
			<div th:if="${message}" style="height: 0px; "
				th:class="${'alert ' + alertClass}">
				<h6 style="display: inline-block; visibility: hidden;" id="pathExists?" th:text="${message}"></h6>
			</div>
			 <div th:if="${message2}" style="white-space: pre-line; display: inline-block; vertical-align: middle; 
										   height: 70px; font-size:24px; margin-top: -60px; margin-bottom: 30px;"
				th:class="${'alert ' + alertClass}">
				<h6 style="display: inline-block;" id="pathExists?" th:text="${message2}"></h6>
			</div>
			
				<div id="container" style=" display: inline-block;
						vertical-align: middle;" ></div>
		</div>
				
		
		 </form>


</body>
<style>
.column {
  float: left;
  align-content: center;
}

.left {
  width: 90%;
}

.right {
  width: 10%;
  float: left;
}

/* Clear floats after the columns */
.rowsss:after {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
</style>
<script>/**
 * 
 */
 document.addEventListener("DOMContentLoaded", function(){
	createGrid();
	var startPoint = document.getElementById("node 0").style.backgroundColor= "red";
	findHighlightedPath();
	addWall();
	
	
	function findHighlightedPath(){
		//Check once path is submitted, if a path exists
		if(document.getElementById("pathExists?") != null){
		if (document.getElementById("pathExists?").innerHTML.includes("false")){
			document.getElementById('pathExistsFalse').innerHTML = "Sorry! A path doesnt exist to this destination." 
			+ document.getElementById('pathExistsFalse').innerHTML;
		}}
		if(document.getElementById("pathExists?") != null){
			
			
			if (document.getElementById("pathExists?").innerHTML.includes("true")){
			    //Get our Path and manipulate into an array
			   
				var pathExists = document.getElementById("pathExists?").innerHTML;
			    var pathExists = pathExists.substring(35);
				pathExists = pathExists.slice(0, -1);
				var dest = pathExists.slice(-3);
				dest = dest.replace(",", "");
				dest = dest.trim();
			    console.log("Path substringed: " + pathExists);
			    console.log(dest);
				var temp = new Array();
				temp = pathExists.split(",").map(function(item) {
					  return item.trim();
				});
				
				//Tmeout function
				function sleep(ms) {
					  return new Promise(resolve => setTimeout(resolve, ms));
				}
				
				async function highlightPath() {
					  await sleep(500);
					  // Highlight the path square by square
				
					 for(var i = 0; i<=temp.length; i++){
							 await sleep(30);
							 var path = document.getElementById("node " + temp[i]);
							 if (!path) {
								    return; // don't do the rest
								  }
							 if(temp[i] != dest){
							 path.setAttribute("class", "node " + temp[i] + " path");
							 }else if(temp[i] == dest){
							 path.setAttribute("class", "node " + temp[i] + " final"); 
							 }
							 
						}
					 	
					}

					highlightPath(); }
			
		}
	}
	
});




function addWall() {
	 //Using localStorage to store random generated wall
	if (Object.keys(localStorage).length === 0) {
 				console.log("There are no keys so we can create!!");
 				
 				for(var i = 1; i<125; i++){
 					var x = Math.floor((Math.random()*399)+1);
 					var wall = document.getElementById("node " + x).setAttribute("class", "node " + x + " wall");
 					localStorage.setItem("wall ID" + x, "wall ID" + x);
 					document.getElementById(x).setAttribute("value", x + " wall");
 				}
			}else{
				console.log("Local Storage already exists so not creating new");
			}
			//If localStorage wall set, retain those walls on page refresh
			for (var x in localStorage) {
				   if(x!= null){
					   var x = x.substring(7);
					   var wall =  document.getElementById("node " + x);
					   var wall2 = document.getElementById(x);
					   if(!wall || !wall2){
						   return;
					   }
					   
					   wall.setAttribute("class", "node " + x + " wall");
					   wall2.setAttribute("value", x + " wall");
				   }
				}
	
}

function resetWall(){
	localStorage.clear();
	window.location.reload();
	
}

function createGrid(){
	let columns = 20;
	let space = '';
	let k =0;
	for(let i=0; i<columns; i++) {
		  space+= '<div class="row">'
		  for(let j=0; j<columns; j++){ 
			  space+= `<div class="node ${(k)}" id="node ${(k)}"> ${(k)}  </div>`;
		      space+= `<input type="hidden" id="${(k)}" class="${(k)}" value= "${(k)}" name="payload">`;
		      k++;
		  };
		 
		  space+= '</div>'
		  
		}

		container.innerHTML = space;

		var addclass = 'destination';
		var $endPoint = $('.node').click(function(e) {
		    $endPoint.removeClass(addclass);
		    $(this).addClass(addclass);
		    
		    var x = document.getElementsByClassName("destination");
			var y =  x[0].innerHTML.trim();
			  
			  
		    if (document.getElementById("node " + y).className === "node " + y + ' destination')  {
		        //do something
		         console.log(y);
		    	 document.getElementById(y).setAttribute("value", y + " destination");
		    	
		      }
		        
			for(var x = 0; x<401; x++){
				 var nodes = document.getElementsByClassName("node " + x);
				    for (var i=0; i < nodes.length; i++) {
				    	//Filter all the nodes that are not the destination
				        if(nodes[i].className == "node "+x) {
				            // Reset back to original value
				           document.getElementById(x).setAttribute("value", x);
				        }
				    }
			  } 
		   
			 
			    
			
		});
		
}</script>
</html>


